.container {
    max-width: 1024px;
    margin: auto;
}

body {
    background-color: azure;
}

main {
    display: flex;
    flex-direction: column;
}

.selectUser {
    padding-top: 20px;
    align-self: center;
}

#user, #textMessage {
    border: 2px solid rgb(212, 236, 236);
    border-radius: 3px;
}

#user {
    line-height: 25px;
    width: 200px;
}

#textMessage {
    width: 700px;
    line-height: 30px;
}

#btnChooseUser {
    background-color: white;
    border: 2px solid rgb(212, 236, 236);
    border-radius: 3px;
    display: block;
    margin-top: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 20px;
}

#btnChooseUser:hover, #btnSend:hover, #btnClear:hover {
    background-color: rgb(202, 238, 238);
}

h3 {
    visibility: hidden;
    align-self: center;
}

.messages {
    display: none;
    max-width: 880px;
    word-wrap: break-word;
}

.sendingMessages {
    position: fixed;
    bottom: 100px;
    align-self: center;
}

#btnSend, #btnClear {
    background-color: white;
    border: 2px solid rgb(212, 236, 236);
    border-radius: 3px;
    width: 90px;
    line-height: 30px;
}

.chatMessages {
    display: flex;
    flex-direction: column;
}

.chatMessages > div {
    padding: 5px 0;
}

#btnClear {
    visibility: hidden;
    position: fixed;
    bottom: 50px;
    left: 40%;
}

.one {
    color: red;
}

.two {
    color: yellow;
}

.three {
    color: blue;
}

.four {
    color: gray;
}

.five {
    color: rgb(43, 116, 59);
}

.six {
    color: rgb(228, 48, 219);
}

.seven {
    color: rgb(43, 48, 116);
}

.eigth {
    color: rgb(100, 104, 160);
}

.nine {
    color: rgb(221, 94, 204);
}

.ten {
    color: rgb(46, 211, 54);
}

.eleven {
    color: rgb(158, 71, 56);
}

.twelve {
    color: rgb(31, 201, 243);
}